/* for desktop */
.col-1{width: 8.33%;}
.col-2{width: 16.66;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66;}
.col-12{width: 100%;}


.nav-heading h1{
    text-align: left;
}
.navbar-menu{
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-menu a{
    padding: 5px 10px;
    margin: 20px 0px;
    background-color: transparent;
}
/* navbar end */


.weather-icon{
    right: 100px;
    width: 120px;
    transition: width 2s,transform 2s;
}
.weather-icon:hover{
    width: 140px;
}

.profile-description p{
    width: 50%;
    text-align: center;
    color: gray;
    margin: 0 auto;
    margin-bottom: 10px;
}

/* about me starts */
    .about-me-image{
        margin-top: 100px;
        ;
    }
    .about-me-image img{
        width: 250px;
        height: 270px
    }
    .about-me-description p{
        text-align: left;
    }

/* about me ends */


/* professional experience starts */

    .professional-experience{
    padding: 1% 5%;
    }
/* professional experience ends */



/* achievement-contact starts here */
    .achievement{
    padding-right: 50px;
    }
    .contact button{
        width: 120px;
    }
    .contact-link{
        display: block;
        margin: 0 auto;
    }
    
/* achievement-contact ends here */


/* footer starts here */
.footer-menu{
    margin-top: 12px;
}
.footer-menu a{
    display: inline;
    margin: 10px;
    
    
}
.footer-description{
    padding-top: 25px;
}
/* footer ends here */