*{
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
body{
    margin: 0;
}
/* navbar design starts here */

h1{
    font-size: 2.5rem;
    text-align: center;
}
h2{
    font-size: 1.5rem;
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}
p{
    text-align: justify;
    font-size:1.2rem ;
}
.dotted-hr{
    border: 5px dotted white;
    border-bottom: none;
    margin: 20px auto;
    width: 70px;
}
[class*="col-"]{
    float: left;
    padding: 10px;
}
/* for mobile */
[class*="col-"]{
    width: 100%;
}
.navbar{
    background-color: #0B6068;
    padding: 1% 7%;
    text-align: center;
}
.navbar h1{
    color: white;
    margin: 0;
    padding-top: 10px;
}
.navbar-menu{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}
.navbar-menu a{
    background-color:#40868b ;
    border-radius: 10px;
    margin: 7px;
    padding: 10px;
}
.navbar-menu a:hover{
    background-color: gray;
}
.navbar::after{
    content: '';
    display: table;
    clear: both;
}
/* navbar design close here */


/* profile section starts here */
.profile{
    padding: 130px 10px;
    position: relative;
    text-align: center;
}
.weather-icon{
    width: 100px;
    position: absolute;
    right: 60px;
    top: 20px;
    transition: transform 2s;
}
.weather-icon:hover{
    transform: rotate(360deg);
}
.profile-description h1{
font-family: fantasy;
font-size: 3rem;
}
.profile-description p{
    width: 90%;
    text-align: center;
    color: gray;
    margin: 0 auto 0 auto;
}
.profile::after{
    content: '';
    display: table;
    clear: both;
}
/* aboutme section is here  */
.about-me{
    background-color: #39a4a6;
    color: white;
    padding: 1% 7%;
    text-align: center;
}
.about-me-image img{
    border: 5px solid white;
    border-radius: 50%;
    height: 220px;
    width: 200px;
}
.about-me p{
    text-align: right;
}
.about-me a{
    font-size: 1.2rem;
}
.cv-button{
    background-color: #052d2f;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 15px;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    margin: 10px;
}
.about-me::after{
    content: '';
    display: table;
    clear: both;
}
 /* about me close here */

 /* professional experience stars */
 .professional-experience{
     padding: 1% 1%;
 }
 .professional-experience .card{
     background-color: #a39e9e;
     padding: 10px;
     border-radius: 5px;
     transition: .3s;
     height: 700px;
 }
 .professional-experience .card:hover{
     box-shadow: 0 4px 8px 5px black;
 }
 .card-icon{
     text-align: center;
     
 }
 .card-icon img{
     width: 100px;
     margin-top: 20px;
     
 }
 .rounded-image{
     border: 2px solid white;
     border-radius: 50%;
     padding: 15px;     
 }

 .card-title h2{
    background-color: #616161;
    color: white;
    padding: 10px;
    text-align: center;
 }
.card-description li{
    margin-bottom: 10px;
}

.skills-container{
    padding-right:45px ;
}
.skills-container li{
    list-style: none;
    font-weight: bolder;
    margin: 40px 10px;
    text-transform: uppercase;
    position: relative;
}
.skills-container li::before{
    position: absolute;
    content: '';
    top: calc(100% + 5px);
    width: 100%;
    left: 0;
    height: 10px;
    background-color: rgba(86, 86, 153, .5);
    border-radius: 1000px;
    
}
.skills-container li::after{
    position: absolute;
    content: '';
    top: calc(100% + 5px);
    width: 0;
    left: 0;
    height: 10px;
    background-color: rgba(86, 86, 153, 1);
    border-radius: 1000px;

    animation-duration: 3s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 5;
    
}
.skills-container li.html::after{
    animation-name: html;
}
@keyframes html {
    to{
        width: 90%;
    }
}

.skills-container li.css::after{
    animation-name: css;
}
@keyframes css {
    to{
        width: 80%;
    }
}

.skills-container li.js::after{
    animation-name: js;
}
@keyframes js {
    to{
        width: 60%;
    }
}

.skills-container li.bootstrap::after{
    animation-name: bootstrap;
}
@keyframes bootstrap {
    to{
        width: 70%;
    }
}

.skills-container li.reactjs::after{
    animation-name: reactjs;
}
@keyframes reactjs {
    to{
        width: 50%;
    }
}
.skills-container li.redux::after{
    animation-name: redux;
}
@keyframes redux {
    to{
        width: 90%;
    }
}


 .professional-experience::after{
     clear: both;
     content: '';
     display: table;
 }
 /* professional experience ends */

 /* achievement-contact start here */
 .achievement-contact{
    padding: 1% 7%;
    background-color: #39a4ac;
    color: white;
 }
 .contact{
   text-align: center;

 }
 .contact input,textarea{
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    text-align: center;
    border-radius: 5px;
    border: none;
    resize: none;
 }
 .contact button{
     border: none;
     border-radius: 12px;
     background-color: #052d2f;
     color: white;
     cursor: pointer;
     padding: 12px;
     margin: 10px;
     width: 100px;
 }

 .achievement{
    padding-right: 50px;
 }

 .contact-link{
     text-align: center;
 }
 .media-buttons .btn{
     border: none;
     border-radius: 25px;
     cursor: pointer;
     font-size: 32px;
     padding: 5px;
     margin: 10px;
     width: 50px;
     background-color: white;
 }
 .btn:hover{
     background-color: gray;
 }
 .achievement-contact::after{
    clear: both;
    content: '';
    display: table;
}


 /* achievement-contact end here */



 /* footer starts  here */
 .footer{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 0.8rem;
 }
 .footer-menu a{
    display: block;
    margin: 15px 0;
    font-size: 1rem;
 }
 .footer-menu a:hover{
   color: gray;
 }

 
 .footer::after{
    clear: both;
    content: '';
    display: table;
}

 /* footer ends here */
